<div class="container">
    <div class="row box-cadastro">
      <div class="col-12">
        <h3 class="text-center">Você está a um passo de criar sua conta Training Banking</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()" class="mt-5">
          <div class="form-group">
            <input type="text" class="form-control cadastro" formControlName="name" id="{{ variable | date:'MM/dd/yy' }}" aria-describedby="emailHelp" placeholder="Nome">
          </div>

          <div class="form-group">
            <input type="number" class="form-control cadastro" formControlName="cpf" id="cpf" placeholder="CPF">
          </div>
          <div class="form-group">
            <input type="email" class="form-control cadastro" formControlName="email" id="email" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control cadastro" formControlName="phone" id="phone" placeholder="Telefone">
          </div>
          <div class="form-group">
            <input type="text" class="form-control cadastro" formControlName="andress" id="andress" placeholder="Endereço">
          </div>
          <button type="submit" class="btn btn-cadastro btn-lg">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>